language: php
php:
  - hhvm
  - nightly
  - 7.1
  - 7.0
  - 5.6
matrix:
  allow_failures:
    - php: nightly

before_script:
  - composer selfupdate
  - composer update --no-interaction --prefer-dist
  - composer require codeclimate/php-test-reporter:dev-master --dev

script:
  - ./vendor/phpunit/phpunit/phpunit -v --coverage-clover build/logs/clover.xml

after_script:
  - CODECLIMATE_REPO_TOKEN=f04d9b628e8b1580f0662ec0287486bd36619c75b61d55e3861795bcaec541ed ./vendor/bin/test-reporter
